.typewriter {
    font-family: inherit;
}

.cursor {
    display: inline-block;
    color: white;
    animation: blink 1s infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

:host {
    display: flex;
    width: 100%;
    height: inherit;
    font-size: inherit;
    padding-left: 10px;
    align-items: inherit;
    justify-content: inherit;
}