.typewriter {
    font-family: 'lucida console';
}

.cursor {
    display: inline-block;
    color: white;
    animation: blink 1s infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

:host {
    display: flex;
    width: 100%;
    height: 200px;
    font-size: 5rem;
    padding-left: 10px;
    align-items: center;
}